@model AdvertisingERP.Models.Customer

@{
    ViewBag.Title = "CustomerList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<style>
    .px-5{
        margin-top: 21px;
    }
</style>

@using (Html.BeginForm("CustomerList", "Customer", FormMethod.Post, new { @id = "signupForm", enctype = "multipart/form-data" }))
{
    <div class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
            <div class="breadcrumb-title pe-3">Customer</div>
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Customer List</li>
                    </ol>
                </nav>
            </div>
            @*<div class="alert alert-success" style="display: @ViewBag.saverrormsg;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h5 class="text-success"><i class="fa fa-check-circle"></i>@TempData["CustomerError"]</h5>
            </div>*@
            <div class="ms-auto">
                <div class="btn-group">
                    <a href="/Customer/AddCustomer" class="btn btn-light list-button">Back To Customer</a>
                </div>
            </div>
        </div>
        <hr />
        <div class="card">
            @if (@TempData["CustomerError"] != null)
                {
                <div class="alert border-0 alert-dismissible fade show py-2" style="display: @ViewBag.errormsg;">
                    <div class="d-flex align-items-center">
                        <div class="font-35 text-white">
                            <i class="bx bxs-check-circle" style="color:green"></i>
                        </div>
                        <div class="ms-3">
                            <div class="text-white">@TempData["CustomerError"]!</div>
                        </div>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>

            }
            <div class="card-body">
                <div class="p-4 border rounded">
                    <div class="row g-3">
                        <div class="col-md-4">
                            <label for="input-1">Customer Name</label>
                            @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", @Placeholder = "Customer Name" })
                        </div>
                        <div class="col-md-4">
                            <label for="input-1">
                                Customer Code
                            </label>
                            @Html.TextBoxFor(m => m.CustomerCode, new { @class = "form-control", @Placeholder = "Customer Code" })
                        </div>
                        <div class="col-md-4">
                             <input type="submit" value="Get Details" class="btn btn-light px-5" name="GetDetails" onclick="return getdeatils();" />
                        </div>
                    </div>

                    <br />
                    <div class="row g-3">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered display" id="example2" >
                                <thead> 
                                    <tr>
                                        <th>Customer Code</th>
                                        <th>Customer Name</th>
                                        <th>Contact</th>
                                        <th>Email</th>
                                        <th>Nature</th>
                                        <th>Bank Details</th>
                                        <th>Address</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.lstcustomer != null)
                                        {
                                            foreach (var item in Model.lstcustomer)
                                            {
                                                <tr>
                                                    <td>@item.CustomerCode</td>
                                                    <td>@item.CompanyName</td>
                                                    <td>@item.MobileNo</td>
                                                    <td>@item.Email</td>
                                                    <td>@item.NatureOfBusiness</td>
                                                    <td>@item.BankName @item.AccountNo @item.IFSCCode @item.BankAddress</td>
                                                    <td>@item.Address @item.StateName @item.City @item.Pincode</td>
                                                    <td>
                                                        <div class="btn-group" role="group" aria-label="Basic example">
                                                            <button type="button" class="btn btn-light">
                                                                <a href="/Customer/AddCustomer?CustomerId=@item.CompanyId" class="label label-primary">  <i class="bx bx-pencil me-0"></i></a>
                                                            </button>
                                                            <button type="button" class="btn btn-light">
                                                                <a href="Customer/DeleteCustomer?CustomerId=@item.CompanyId" onclick="return confirm('Sure you want to delete this Customer ?');" class="label label-danger"> <i class="bx bx-trash-alt me-0"></i>
                                                            </button>

                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row"></div>
                    <br />
                </div>
            </div>
        </div>
    </div>

}

